%h2

= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!

  .field
    = f.label "Email"
    %br
    = f.email_field :email, autofocus: true

  .field
    = f.label "Κωδικός"
    %br
    = f.password_field :password, autocomplete: "off"

  .field
    = f.label "Επιβεβαίωση Κωδικού"
    %br
    = f.password_field :password_confirmation, autocomplete: "off"

  .actions
    = f.submit "Εγγραφή", class: "btn btn-default"

= render "devise/shared/links"
